# このプロジェクトの目標

主にWebアプリケーションをブラウザからテストするためのシナリオを管理するソフトウェアを開発します。

# 操作上のガイドライン

## 実装時の注意

- `uv` を使用すること。例えばDjangoの`manage.py`を呼び出す場合には`uv run manage.py`という形式で実行する
- .env には触れないこと
- test_manager/ に対して black を実行してコードフォーマットを整形する

## テスト

- 新機能を実装した際には関連するユニットテストを実装する
- `uv run pytest`を使用してテストを行う。
- 全てのユニットテストを対象にした際のカバレッジをおおよそ80%以上とする