# このプロジェクトの目標

主にWebアプリケーションをブラウザからテストするためのシナリオを管理するソフトウェアを開発します。

# 操作上のガイドライン

## 操作ルール

- .env には触れないこと

## ドキュメント

- 機能の変更をREADME.mdに記載する
- test_manager/ に対して black を実行してコードフォーマットを整形する

## テスト

- pytestを使用し、カバレッジをおおよそ80%以上とする
- 新機能を実装した際には関連するユニットテストを実装する